# Dependencies
/node_modules

# Environment variables
.env
.env.local
.env.production

# Vercel
.vercel
vercel.json

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Shopify CLI
.shopify/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional: Certs (if generated)
*.pem